.loader-container {
  justify-content: center;
}

#loader {
  min-height: 9.4em;
  min-width: 27em;
  justify-content: center;
  align-items: center;
  display: flex;
}

#loader span {
  justify-self: center;
  display: inline-block;
  width: 0.4em;
  margin: 0.15em;
  height: 2em;
  background: linear-gradient(0deg, #0066ff, #3399ff);
}

#loader span:nth-child(1) {
  animation: grow 1s ease-in-out infinite;
}

#loader span:nth-child(2) {
  animation: grow 1s ease-in-out 0.15s infinite;
}

#loader span:nth-child(3) {
  animation: grow 1s ease-in-out 0.3s infinite;
}

#loader span:nth-child(4) {
  animation: grow 1s ease-in-out 0.45s infinite;
}

#loader span:nth-child(5) {
  animation: grow 1s ease-in-out 0.6s infinite;
}

@keyframes grow {
  0%,
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }

  50% {
    -webkit-transform: scaleY(2);
    -ms-transform: scaleY(2);
    -o-transform: scaleY(2);
    transform: scaleY(2);
  }
}
